html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

pre, code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    max-width: 100%;
    overflow: auto;
    padding: 16px;
    background-color: #eee;
    border-radius: 8px;
}

a {
    color: #616161;
    font-weight: 500;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.message > :first-child {
    margin-top: 0;
}

.message > :last-child {
    margin-bottom: 0;
}

.message.generating blockquote,
.message.generating h1,
.message.generating h2,
.message.generating h3,
.message.generating h4,
.message.generating h5,
.message.generating h6,
.message.generating li,
.message.generating p,
.message.generating pre {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}